# Week 3 Assignment-Part 1

In [70]:
import pandas as pd
import numpy as np

#### Read the table on html

In [5]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
ca_pc=df[0]
ca_pc.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### Dealing with 'Not assigned' values

In [6]:
ca_pc.replace('Not assigned', np.nan, inplace=True)
ca_pc.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [71]:
ca_pc.dropna(subset=['Borough'], axis=0, inplace=True)
ca_pc.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [72]:
ca_pc.dropna(subset=['Neighbourhood'], axis=0, inplace=True)
ca_pc.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

#### Group boroughs and neighborhoods

In [78]:
PCf=ca_pc.groupby(['Postcode', 'Borough'], as_index=False, sort=False).agg(','. join)
PCf.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M9A         Etobicoke                 Islington Avenue

In [77]:
PCf.shape

(102, 3)

#### Save the table in csv format

In [74]:
PCf.to_csv('postcode of Toronto.csv')